/*Layout principal*/
:root {
    --PrimaryColor: #1E90FF;
    --SegundaryColor: #03498f;
    --ShadowColor: #999999;
    --AppBarText: #FFFFFF;
}

@media (prefers-color-scheme: light) {
    body {
        --TextColor: #000000;
        --Theme: #FFFFFF;
    }
}
@media (prefers-color-scheme: dark) {
    body {
        --TextColor: #FFFFFF;
        --Theme: #000000;
    }
}

::-webkit-scrollbar {
    width: 5px;
    background: var(--Theme);
}
::-webkit-scrollbar-thumb {
    background: var(--PrimaryColor);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--SegundaryColor);
}

body {
    background: var(--Theme);
    color: var(--TextColor);
    overflow-x: hidden;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#ScreenLoading {
    display: table;
    z-index: 1;
    position: fixed;
    left:0px;
    top:50px;
    width: 100%;
    height: calc(100% - 50px);
    text-align: center;
    background-color: var(--Theme);
}
#ScreenLoading > .ContentScreenLoading {
    display: table-cell;
    vertical-align: middle;
}
#AppBar {
    z-index: 2;
    display: table-header-group;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 50px;
    color: var(--AppBarText);
    background-color: var(--PrimaryColor);
    box-shadow: 0px 0px 5px var(--ShadowColor);
    transition: top 0.3s;
}
#AppBar > div {
    display: table-cell;
    vertical-align: middle;
    font-weight: bold;
    height: inherit;
}
#AppBar > .Middle {
    width: 100%;
}
#Navigate {
    z-index: 3;
    display: table;
    text-align: center;
    margin: 0px auto;
    position: fixed;
    left: -100%;
    top: 0px;
    width: 85%;
    height: 100%;
    color: var(--TextColor);
    background: var(--Theme);
    box-shadow: 0px 0px 5px var(--ShadowColor);
    transition: 0.2s linear;
}
#Content {
    position: absolute;
    display: block;
    z-index: 0;
    top: 50px;
    padding: 5px;
    width: calc(100% - 10px);
    min-height: calc(100% - 60px);
    transition: 0.4s linear;
}


/*Botões*/
#BackPage {
    cursor: pointer;
    margin: 0px 10px;
    width: 25px;
    height: 25px;
    background: url("/data/img/icons.png") -25px 0px;
}
#OpenMenu {
    cursor: pointer;
    margin: 0px 15px;
    width: 25px;
    height: 25px;
    background: url("/data/img/icons.png") 0px 0px;
}


/*Animações*/
.SlideLeft {
    left: 200%;
}

.SlideRight {
  left: -200%;
}