body {
    font-family: Arial, Helvetica, sans-serif;
}

.Content {
    display: table;
    margin: 0px auto;
    position: relative;
    top: 50px;
    left: 0px;
}

.ButtonComment {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    display:inline-block;
    cursor: pointer;
    width: 25px;
    height: 25px;
    background: url("/data/img/icons.png") -75px 0px;
}
.ButtonLike {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    display:inline-block;
    margin: 0px;
    cursor: pointer;
    width: 25px;
    height: 25px;
    background: url("/data/img/icons.png") -25px 0px;
}
.ButtonLike:hover {
    background: url("/data/img/icons.png") -50px 0px;
}

.Card {
    max-width: 600px;
    border-radius: 5px;
    padding: 10px;
    width: calc(100% - 20px);
    box-shadow: 0px 0px 5px #d4d4d4;
}

.Card > img {
    width: 100%;
    height: auto;
    margin: 10px 0px;
}

.Card > p {
    text-align: justify;
    margin: 0px;
}

.Card > .titulo {
    font-weight: bold;
}

#Navigate {
    display: table;
    text-align: center;
    margin: 0px auto;
    position: fixed;
    left: -100%;
    top: 0px;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    transition: 0.2s linear;
}

#Navigate > ul > li {
    position: relative;
    border-radius: 10px;
    margin: 10px 0px;
    padding: 10px;
    left: calc(25% - 25px);
    width: 50%;
    color: white;
    background: #000000;
}

.CloseMenu {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    position: absolute;
    padding: 15px;
    left: 0px;
    top: -10px;
    cursor: pointer;
    font-size: 50px;
}

.OpenMenu {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    cursor: pointer;
    position: absolute;
    left: 15px;
    top: 13px;
    width: 25px;
    height: 25px;
    background: url("/data/img/icons.png") 0px 0px;
}

.AppBar {
    display:table-header-group;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 50px;
    color: #FFFFFF;
    background-color: dodgerblue;
    box-shadow: 0px 0px 5px #000000;
}

.AppBar > p {
    text-align: center;
    font-weight: bold;
}